@font-face {
    font-family: "Montserrat";
    src: url("./frontend/assets/Montserrat-Thin.ttf");
}

@font-face {
    font-family: "Nanum Gothic";
    src: url("./frontend/assets/NanumGothic-Bold.ttf")
}

@font-face {
    font-family: "Montserrat Medium";
    src: url("./frontend/assets/Montserrat-Medium.ttf");
}


* {
    font-family: "Montserrat";
    margin: 0;
}

.App {
    display: grid;
    height: 100vh;
    background-color: #eaf2ef;
    grid-template-columns: 200px 1fr;
    background-color: #E3E9EF;
    grid-template-rows: 70px 1fr 90px;
    grid-template-areas: 
        'header header'
        'menu content'
        'menu footer';
}

.gravatar {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin-right: 10px;
}