@font-face {
    font-family: "Montserrat";
    src: url("./frontend/assets/Montserrat-Thin.ttf");
}

@font-face {
    font-family: "Nanum Gothic";
    src: url("./frontend/assets/NanumGothic-Bold.ttf")
}

@font-face {
    font-family: "Montserrat Medium";
    src: url("./frontend/assets/Montserrat-Medium.ttf");
}


* {
    font-family: "Montserrat";
    margin: 0;
}

.notifications {
	font-family: "Montserrat Medium";
}